body {
  background-image: url("./assets/images/trees.png");
  background-color: rgba(95, 86, 86, 0.034);
  display: flex;
  flex-direction: column;
}

#form-submit {
  width: 15%;
}

#BG-contact {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
}

.form-message {
  height: 300px;
}

a:link {
  color: #777777;
}

a:visited {
  color: #777777;
}

a:hover {
  color: #777777;
}

a:active {
  color: #777777
}

h1 {
  border-bottom: 8px solid #4aaaa5;
  padding: 20px;
  color: #4aaaa5;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.link {
  margin-left: 10px;
  margin-right: 10px;
}